name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - name: Create env file
        env:
          ARTI_USER: ${{ secrets.ARTIFACTORY_USERNAME }}
          ARTI_PASS: ${{ secrets.ARTIFACTORY_PASSWORD }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASS: ${{ secrets.POSTGRES_PASSWORD }}
        run: envsubst < .env_template > .env
      - name: Build
        run: make build
      - name: Test
        run: make test
      - name: Cleanup
        run: make clean